.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: space-between; /* Distribución uniforme */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-card {
    flex: 1 1 23%; /* Ajusta el tamaño para que quepan 4 por fila */
    min-width: 220px; /* Ancho mínimo para que no se encojan demasiado */
    max-width: 250px; /* Ancho máximo para un diseño más consistente */
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: 150px; /* Ajuste de altura */
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-info {
    margin-top: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.card-button {
    border: 1px solid #000;
    display: flex;
    padding: 0.3em;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.card-button:hover {
    border-color: #1E90FF;
    background-color: #1E90FF;
    color: #fff;
}

.bx-info-circle {
    font-size: 25px;
    color: #000;
    transition: transform 0.3s ease-in-out;
}

.bx-info-circle:hover {
    transform: scale(1.2);
}

.bx-cart {
    color: #000;
}
