.product-detail {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #1E90FF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    text-align: left; /* Alinea el contenido a la izquierda */
}

.title {
    text-align: center ;
    color: #000;
    margin-bottom: 10px; /* Espacio debajo del título */
}

.info {
    color: #000;
    margin-top: 0; /* Alinea la descripción con el margen superior */
}
